/* Info Sections */
.infoSection {
  display: flex;
  gap: 20px;
  margin: 5px 0;
  font-size: 14px;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--text-secondary);
}

.checkIcon {
  color: #27ae60;
  font-weight: 700;
}

.freeShipping {
  font-weight: 600;
  color: #27ae60;
}

.creditIcon {
  font-weight: 700;
}

.deliveryBadge {
  color: #eaefea;
  padding: 10px 0px;
  border-radius: 8px;
  margin: -10px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
}

.truckIcon {
  font-size: 16px;
}

.deliveryText {
  font-size: 14px;
}
